body {
    background-color: palegreen;
}

h1 {
    background-color: skyblue;
}

#tekst1 {
    background-color: salmon;
}

h2 {
    background-color: red;
}

#tekst2 {
    background-color: salmon;
}

ol {
    background-color: darkslategray;
}