body {
    background-color: white;
    margin-bottom: inherit;
}

div {
    width: 100px;
    height: 100px;
    background: black;
    margin: 10px;
    margin-left: 50%;
}

.square2 {
    opacity: 0.6;
}

.square3 {
    opacity: 0.4;
}

.square4 {
    opacity: 0.2;
}

